{# ./templates/default/index.html.twig #}

{% extends 'base.html.twig' %}

 {% block title %} Telemedi Zadanie - Exchange Rates {% endblock %}

 {% block body %}

     <!-- React Root element -->
     <div id="root"></div>

 {% endblock %}

{% block inline_js_up %}
    <script>
        window.baseUrl = '{{ app.request.getScheme() ~ "://" ~ app.request.getHost() }}';
    </script>
{% endblock %}
