{# ./templates/default/index.html.twig #}

{% extends 'base.html.twig' %}

 {% block title %} Telemedi Zadanie - Exchange Rates {% endblock %}

 {% block body %}

     <div id="root"></div>
     {% block javascripts %}
         {{ encore_entry_script_tags('currency') }}
     {% endblock %}
 {% endblock %}
