{% extends 'base.html.twig' %}

 {% block title %} Kursy walut {% endblock %}
 {% block body %}
     <div class="container">

         <div id="exrates"></div>

     </div>

 {% endblock %}

 {% block javascripts %}
 {% endblock %}