body {
    background-color: lightgray;
}

.table-txt {
    display: block;
    width: 100%;
    min-width: 100px;
    text-align: center;
}

td:nth-child(2), td:nth-child(5),
th:nth-child(2), th:nth-child(5) {
    border-right-width: 5px;
}
