body {
    background-color: lightgray;
}

.management-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 30px;
    height: 40px;
    align-items: center;
}

.table {
    border-collapse: collapse;
    width: 90%;
    margin: 20px auto 0px;
}

.table-row {
    border-bottom: 1px solid #131111;
}

.table-thread-row {
    color: #f2f2f2;
    background-color: #131111;
}

.table-header {
    padding: 10px;
    text-align: center;
}

.table-data {
    padding: 10px;
    border: 1px solid #131111;
}

.error {
    color: #ff0033;
}