body {
    background-color: #343a40;
    color: white;
}

#datepicker {
    margin: 0 20px 20px;
    width: 200px;
}

label {
    font-weight: bold;
    margin-top:10px;
    margin-left: 20px;
}

#datepicker .fa-calendar {
    padding-top: 6px;
}

#datepicker input {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

table th {
    font-size: 20px;
}

.fa-kc::after {
    content: " Kč";
    font-weight: bold;
}

.fa-bs::after {
    content: " R$";
    font-weight: bold;
}

.input-group-addon {
    max-width: 40px;
}

h2 {
    margin: 20px;
}